<section class="about__company">
  <h1 class="title">О КОМПАНИИ</h1>
  <div class="company__model">
    <div class="model">
      <div class="circle__two">
        <div class="circle__three">
          <img src="./images/home/about-company/logo.webp" alt="model" />
        </div>
      </div>
    </div>
    <div class="content">
      <p>
        Группа компаний MEDOL создавалась высококвалифицированными специалистами
        в сфере медицины, инженерии и экономики, за плечами которых значительный
        опыт на рынке высоких медицинских технологий, которая имеет свои
        представительства в разных уголках Земли. В 2011 году MEDOL
        зарегистрировал в Узбекистане ИП ООО “Medical Online Services". Цель
        компании построить прозрачный долгосрочный бизнес, принести пользу
        обществу путем развития и внедрения передовых технологий в систему
        здравоохранения Республики Узбекистан.
      </p>
      <a href="#">
        <button>Узнать больше</button>
      </a>
    </div>
  </div>
</section>
