<section class="partners">
  <h1 class="title">ПАРТНЕРЫ</h1>

  <div class="partors__slider">
    <div class="swiper partersSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/home/partners/1.webp" alt="1" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/2.webp" alt="2" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/3.webp" alt="3" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/4.webp" alt="4" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/5.webp" alt="5" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/6.webp" alt="6" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/7.webp" alt="7" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/8.webp" alt="8" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/1.webp" alt="1" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/2.webp" alt="2" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/3.webp" alt="3" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/4.webp" alt="4" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/5.webp" alt="5" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/6.webp" alt="6" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/7.webp" alt="7" />
        </div>
        <div class="swiper-slide">
          <img src="./images/home/partners/8.webp" alt="8" />
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
