<section class="services">
  <h1 class="title">УСЛУГИ</h1>

  <div class="services__carts">
    <div class="carts">
      <div class="cart">
        <div class="image">
          <img src="./images/home/services/1.webp" alt="1" />
        </div>
        <div class="content">
          <h1>СЕРВИС ОБОРУДОВАНИЯ</h1>
          <p>
            Компания предоставляет сервисное обслуживание по всем
            предоставляемым продуктам. У наших инженеров имеется опыт и
            сертификаты фирм производителей......
          </p>
        </div>
        <a href="#">
          <button>Подробнее</button>
        </a>
      </div>
      <div class="cart">
        <div class="image">
          <img src="./images/home/services/2.webp" alt="2" />
        </div>
        <div class="content">
          <h1>РЕГИСТРАЦИИ</h1>
          <p>
            Обеспечение получения разрешительных документов, регистрационного
            удостоверения на изделия медицинского назначения Подготовка объектов
            к проведению ....
          </p>
        </div>
        <a href="#">
          <button>Подробнее</button>
        </a>
      </div>
      <div class="cart">
        <div class="image">
          <img src="./images/home/services/3.webp" alt="3" />
        </div>
        <div class="content">
          <h1>УСЛУГИ ЛОГИСТИКИ</h1>
          <p>
            Компания предоставляет сервисное обслуживание по всем
            предоставляемым продуктам. У наших инженеров имеется опыт и
            сертификаты фирм производителей.....
          </p>
        </div>
        <a href="#">
          <button>Подробнее</button>
        </a>
      </div>
    </div>
  </div>
</section>
