<footer>
  <div class="footer__box">
    <div class="about__contact">
      <div class="contact">
        <div class="contact__title">
          <h3>Контакты</h3>
        </div>
        <div class="content">
          <div class="left">
            <div class="location">
              <div class="location__icon icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="text">
                <p>г.Ташкент, Чиланзар 10 квартал, дом 3/1</p>
              </div>
            </div>
            <div class="email">
              <div class="email__icon icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="text">
                <a href="mailto:info@medol.uz">info@medol.uz</a>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="phone">
              <div class="phone__icon icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="links">
                <a href="tel:+998712766253">+998 71 276-62-53</a>
                <a href="tel:+998712766254">+998 71 276-62-54</a>
              </div>
            </div>
            <div class="btn">
              <a href="#">
                <button>Оставить заявку</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="about">
        <div class="logo">
          <img src="./images/logo.webp" alt="model" />
        </div>
        <div class="text">
          <p>
            Наша цель – построить прозрачный, долгосрочный бизнес, приносить
            огромную пользу населению, путем решения глобальных вопросов.
            Внедряя инновационные технологии на рынок Узбекистана.
          </p>
        </div>
      </div>
    </div>
    <div class="category">
      <div class="footer-about__company">
        <h2 class="category__title">О компании</h2>
        <div class="links">
          <a href="#">История</a>
          <a href="#">Партнеры</a>
          <a href="#">Вакансии</a>
        </div>
      </div>
      <div class="footer-products">
        <h2 class="category__title">Продукция</h2>
        <div class="links">
          <a href="#">Эндоваскулярная хирургия</a>
          <a href="#">Аритмология</a>
          <a href="#">Кардиохирургия</a>
          <a href="#">Лабораторная диагностика</a>
          <a href="#">Хирургия</a>
          <a href="#">Эндоурология</a>
          <a href="#">Нейрохирургия</a>
          <a href="#">Анестезиология и реанимация</a>
          <a href="#">Диабет</a>
        </div>
      </div>
      <div class="footer-services">
        <h2 class="category__title">Услуги</h2>
        <div class="links">
          <a href="#">Сервис</a>
          <a href="#">Регистрации</a>
          <a href="#">Услуги логистики</a>
        </div>
      </div>
    </div>
  </div>
  <div class="authers">
    <p>© 2021 ООО «Medical Online Services»</p>
    <p>
      Сайт разработан компанией
      <a href="www.webshohdev.uz">www.webshohdev.uz</a>
    </p>
  </div>
</footer>
