<div class="swiper main-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="content">
        <h1>Анализатор ABL800 FLEX</h1>
        <p>
          Ориентированный на среднюю или высокую производительность тестов,
          анализатор ABL800 FLEX измеряет полный набор параметров, включая pH,
          газы крови, электролиты, метаболиты и показатели оксиметрии
        </p>
        <a href="#">
          <button class="btn">Подробнее</button>
        </a>
      </div>
      <div class="image">
        <img src="./images/main/analyzer.webp" alt="analyzer" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="content">
        <h1>Анализатор ABL800 FLEX</h1>
        <p>
          Ориентированный на среднюю или высокую производительность тестов,
          анализатор ABL800 FLEX измеряет полный набор параметров, включая pH,
          газы крови, электролиты, метаболиты и показатели оксиметрии
        </p>
        <a href="#">
          <button class="btn">Подробнее</button>
        </a>
      </div>
      <div class="image">
        <img src="./images/main/analyzer.webp" alt="analyzer" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="content">
        <h1>Анализатор ABL800 FLEX</h1>
        <p>
          Ориентированный на среднюю или высокую производительность тестов,
          анализатор ABL800 FLEX измеряет полный набор параметров, включая pH,
          газы крови, электролиты, метаболиты и показатели оксиметрии
        </p>
        <a href="#">
          <button class="btn">Подробнее</button>
        </a>
      </div>
      <div class="image">
        <img src="./images/main/analyzer.webp" alt="analyzer" />
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
