<nav class="media-navbar">
  <div class="brand">
    <img src="./images/logo.webp" alt="logo" />
  </div>
  <div class="right">
    <div class="location">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="phone">
      <i class="fa-solid fa-phone-volume"></i>
    </div>
    <div class="search">
      <i class="fas fa-search"></i>
    </div>
    <div class="languages">
      <div class="active__language">
        <div class="lang" id="media-active__lang">
          <img src="./images/main/ru.webp" alt="ru" />
          <p>
            <i class="fa-solid fa-angle-down"></i>
          </p>
        </div>
      </div>
      <div class="languages__group">
        <div class="lang">
          <img src="./images/main/ru.webp" alt="ru" />
          <p>
            <i class="fa-solid fa-angle-down"></i>
          </p>
        </div>
        <div class="lang" id="lang">
          <img src="./images/main/en.webp" alt="en" />
          <p>
            <i class="fa-solid fa-angle-down"></i>
          </p>
        </div>
        <div class="lang" id="lang">
          <img src="./images/main/uz.webp" alt="uz" />
          <p>
            <i class="fa-solid fa-angle-down"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="bars" id="bars">
      <i class="fa-solid fa-chart-simple"></i>
    </div>
    <menu class="menu" id="menu">
      <div class="xmark" id="xmark">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <ul>
        <li><a href="#">МАГАЗИН</a></li>
        <li><a href="#">О КОМПАНИИ</a></li>
        <li><a href="#">ПРОДУКЦИЯ</a></li>
        <li><a href="#">УСЛУГИ</a></li>
        <li><a href="#">АКЦИИ И НОВОСТИ</a></li>
        <li><a href="#">ОБРАТНАЯ СВЯЗЬ</a></li>
      </ul>

      <div class="location__search-group">
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="search">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </menu>
  </div>
</nav>
