<nav class="navbar">
  <div class="nav__relations">
    <div class="company__relations">
      <div class="location">
        <div class="location__icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="location__paragraph">
          <p>г.Ташкент, Чиланзар 10 квартал, дом 3/1</p>
        </div>
      </div>
      <div class="phones">
        <div class="phone__icon">
          <i class="fa-solid fa-phone-volume"></i>
        </div>
        <div class="phone__paragraph">
          <a href="tel:+998712766253">+998 71 276-62-53</a>
          <a href="tel:+998712766254">+998 71 276-62-53</a>
        </div>
      </div>
    </div>
    <div class="company__logo">
      <a href="index.html"><img src="./images/logo.webp" alt="logo" /></a>
    </div>
    <div class="nav__settings">
      <div class="nav__search">
        <i class="fas fa-search"></i>
      </div>
      <a href="#" class="nav__facebook">
        <i class="fa-brands fa-facebook-f"></i>
        <p>Мы на Facebook</p>
      </a>
      <div class="languages">
        <div class="active__language">
          <div class="lang" id="active__lang">
            <img src="./images/main/ru.webp" alt="ru" />
            <p>
              <span id="lang__paragraph">Русский</span>
              <i class="fa-solid fa-angle-down"></i>
            </p>
          </div>
        </div>
        <div class="languages__group">
          <div class="lang">
            <img src="./images/main/ru.webp" alt="ru" />
            <p>
              <span id="lang__paragraph">Русский</span>
              <i class="fa-solid fa-angle-down"></i>
            </p>
          </div>
          <div class="lang" id="lang">
            <img src="./images/main/en.webp" alt="en" />
            <p>
              <span id="lang__paragraph">English</span>
              <i class="fa-solid fa-angle-down"></i>
            </p>
          </div>
          <div class="lang" id="lang">
            <img src="./images/main/uz.webp" alt="uz" />
            <p>
              <span id="lang__paragraph">Uzbek</span>
              <i class="fa-solid fa-angle-down"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <menu>
    <ul>
      <li><a href="#">МАГАЗИН</a></li>
      <li><a href="#">О КОМПАНИИ</a></li>
      <li><a href="#">ПРОДУКЦИЯ</a></li>
      <li><a href="#">УСЛУГИ</a></li>
      <li><a href="#">АКЦИИ И НОВОСТИ</a></li>
      <li><a href="#">ОБРАТНАЯ СВЯЗЬ</a></li>
    </ul>
  </menu>
</nav>
